/* le pongo width al container de la cart y no se pone ancho */
/* no entiendo como se ponen las lineas de abajo que salen con el carrito, full-cart-container */

:root{
  --font-family: "Red Hat Text", sans-serif;
  --title-m: 2.5rem;
  --title-s: 1.5rem;
  --text-m: 1rem;
  --text-s: 0.875rem;

  --bold: 700;
  --semibold: 600;
  --regular: 400;

  --background-color: #FCF8F6;
  --primary-color: #260F08;
  --secondary-color: white;
  --terciary-color: #87635A;
  --featured-items: #C73B0F;

  --border-radius-l: 6.25rem;
  --border-radius-m: 0.75rem;
  --border-radius-s: 0.5rem;
}


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

/* TEXTOS */
h1{
  font-size: var(--title-m);
  font-weight: var(--bold);
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 1.25rem;
}

.title-l{
  font-size: var(--title-s);
  font-weight: var(--bold);
  color: var(--featured-items);
  margin: 0;
  padding-bottom: 1.5rem;
}
.title-m{
  font-size: var(--title-s);
  font-weight: var(--bold);
  color: var(--primary-color);
}
.title-s{
  font-size: var(--text-s);
  font-weight: var(--semibold);
  color: var(--primary-color);
  margin: 0;
}
.subtitle{
  font-size: var(--text-s);
  font-weight: var(--semibold);
  color: var(--terciary-color);
  margin: 0;
}
.text{
  font-size: var(--text-m);
  font-weight: var(--semibold);
  color: var(--primary-color);
  margin: 0;
}
.featured-text{
  color: var(--featured-items);
}
.category-text{
  font-size: var(--text-s);
  font-weight: var(--regular);
  color: var(--terciary-color);
  margin: 0;
}
.dark-text{
  color: var(--primary-color);
}

/* BUTTONS */
.button{
  font-family: inherit;
  font-weight: var(--semibold);
  font-size: var(--text-s);
  border-radius: var(--border-radius-l);
  border: 0.0625rem solid var(--terciary-color);
  background-color: var(--secondary-color);
}
.button-selected{
  background-color: var(--featured-items);
  color: var(--background-color);
}


/* BIG CONTAINERS */
.header-container{
  padding: 9rem 1rem 2rem 1rem;
}
.filter-buttons-container{
  display: flex;
  gap: 1.1531rem;
  padding: 0 1rem 1.625rem 1rem;
}
.cards-and-cart-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 0 1rem;
  margin-inline: auto;
}
.desserts-grid{
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header-container{
    padding: 6.5625rem 2.5rem 0 2.5rem;
  }
  .filter-buttons-container{
    gap: 1.2063rem;
    padding: 0 2.5rem 2rem 2.5rem;
  }
  .cards-and-cart-container{
    gap: 4.9375rem;
    padding: 0 2.5rem;
  }
  .desserts-grid{
    grid-template-columns: repeat(3, 13.3331rem);
    gap:2rem 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .header-container{
    padding: 6.5625rem 7rem 0 7rem;
  }
  .filter-buttons-container{
    gap: 1.5rem;
    padding: 0 7rem 2.625rem 7rem;
  }
  .cards-and-cart-container{
    flex-direction: row;
    gap: 2rem;
    padding: 0 7rem;
  }
  .desserts-grid{
    grid-template-columns: repeat(3, 15.6669rem);
  }
}

/* FILTERS */
.filter-button{
  width: 4.8044rem;
  height: 2.125rem;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .filter-button{
    width: 6.25rem;
  }
}

/* DESSERTS CARDS */
.dessert-card{
  display: flex;
  flex-direction: column;
}
/* IMAGEN Y AÑADIR CARRITO CARD */
.top-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dessert-picture{
  position: relative;
  border-radius: var(--border-radius-s);
}
.card-button{
  position: relative;
  top: -25px;
  display: flex;
  align-items: center;
  width: 10rem;
  height: 2.75rem;
  padding: 0.75rem;
}
.add-to-cart-button{
  justify-content: center;
  gap: 0.5rem;
}
.add-to-cart-button:hover{
  color: var(--featured-items);
  border: 0.0625rem solid var(--featured-items);
}
.add-eliminate-to-cart-button{
  justify-content: space-between;
}
/* COMO SE PODRÍA LLAMAR A ESTE ELEMENTO */
.circle{
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid var(--secondary-color);
  padding: 0.1875rem;
  border-radius: var(--border-radius-l);
  cursor: pointer;
}
.brown-circle{
  border: 0.0625rem solid var(--terciary-color);
}
.circle:hover{
  background-color: var(--terciary-color);
}
/* TEXTO CARD */
.bottom-card{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
@media screen and (min-width: 1200px) {
  .dessert-picture{
    border-radius: var(--border-radius-m);
  }
}

/* YOUR CART */
.cart-container{
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  margin-bottom: 16.9375rem;
  width: 100%;
}
.empty-cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .cart-container{
    margin-bottom: 13.5rem;
  }
}

/* FULL YOUR CART */
.full-cart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-product-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 1.875rem;
}
/* .cart-product-container::before{
  content: '';
  width: 18.75rem;
  height: 0.125rem;
  background-color: var(--background-color);
  position: absolute;
  top: 4.375rem;
} */
.text-full-cart-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subtitle-full-cart-container{
  display: flex;
  gap: 0.5rem;
}
.eliminate-button-full-cart-container{
  background-image: url(../assets/images/icons/icon-remove-item.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.total-order-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.carbon-label-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--background-color);
  border: var(--border-radius-m);
  padding: 1rem 1.4375rem;
  margin-bottom: 1.5rem;
}
.confirm-order-button-container{
  padding: 1rem 0;
  cursor: pointer;
  border: none;
}


/* ESCONDER / HIDE */
.hide{
  display: none;
}
.pointer-events{
  pointer-events: none;
}
